@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-bottom: 100px;
}

/* Navbar styles */
.navbar {
    width: 95%;
    border: 2px solid #999;
    border-radius: 0.75rem;
    margin: 0 1rem;
    padding: 1rem;

    backdrop-filter: blur(5px);
    
    position: fixed;
    top: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-container p {
    font-weight: bold;
    font-style: italic;
}

.logo-container:hover {
    cursor: pointer;
}

.logo {
    width: 50px;
    border-radius: 0.75rem;
}

.nav-links ul {
    display: flex;
    gap: 75px;
}

.nav-links ul li {
    color: #000;
    font-weight: bold;
    list-style-type: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.625rem;
    cursor: pointer;
}

.nav-links ul li:last-child {
    margin-right: 75px;
}

.nav-links ul li:hover {
    color: #000;
    background-color: #b4e7ff;
    transition: 0.3s linear;
}

/* Header styles */
.header {
    height: 400px;
    padding: 1rem;
    background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    
}

.header-text {
    color: white;
    text-align: center;
    margin-top: 160px;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.header-text button {
    font-weight: bold;
    background-color: #b4e7ff;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.header-text button:hover {
    color: #fff;
    background-color: rgb(0, 116, 0);
    transition: 0.3s linear;
}

/* Search Box Styles */
.search {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 300px;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #888;
    border-right: none;
    outline: none;
    border-radius: 0.45rem 0 0 0.45rem;
}

.search-icon {
    width: 50px;
    color: #fff;
    background-color: rgb(48, 181, 48);
    padding: 0.75rem 1rem;
    border: 0.1rem solid #666;
    border-radius: 0 0.45rem 0.45rem 0;
    cursor: pointer;
    border-left: none;
    outline: none;
}

/* Laptops Container Styles */
.laptops-container {
    width: 90%;
    max-width: 1080px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem 0;
    flex-wrap: wrap;
}

.laptop-card {
    width: 200px;
    background-color: #f0f0f0;
    padding: 0.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.laptop-image {
    width: 100%;
    height: 150px;
    border-radius: 0.5rem;
}

.laptop-name-price {
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.laptop-name {
    width: 80px;
}

.laptop-specs {
    padding: 0 5px;
    margin-top: 20px;
    font-size: 0.75rem;
}

.laptop-buy-button {
    font-size: 0.85rem;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(255, 190, 71);
    margin: 1rem 1.85rem 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.laptop-buy-button:active, .laptop-buy-button:visited {
    color: #000;
    text-decoration: none;
}