@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-bottom: 100px;
}

/* Navbar styles */
.navbar {
    width: 95%;
    border: 2px solid #999;
    border-radius: 0.75rem;
    margin: 0 1rem;
    padding: 1rem;

    backdrop-filter: blur(5px);
    
    position: fixed;
    top: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-container p {
    font-weight: bold;
    font-style: italic;
}

.logo-container:hover {
    cursor: pointer;
}

.logo {
    width: 50px;
    border-radius: 0.75rem;
}

.nav-links ul {
    display: flex;
    gap: 75px;
}

.nav-links ul li {
    color: #000;
    font-weight: bold;
    list-style-type: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.625rem;
    cursor: pointer;
}

.nav-links ul li:last-child {
    margin-right: 75px;
}

.nav-links ul li:hover {
    color: #000;
    background-color: #b4e7ff;
    transition: 0.3s linear;
}

/* Header styles */
.header {
    height: 400px;
    padding: 1rem;
    background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    
}

.header-text {
    color: #2A2A72;
    text-align: center;
    margin-top: 160px;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.header-text button {
    font-weight: bold;
    background-color: #b4e7ff;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.header-text button:hover {
    color: #fff;
    background-color: rgb(0, 116, 0);
    transition: 0.3s linear;
}

/* Search Box & Sort Button Styles */
.search {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 300px;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #888;
    border-right: none;
    outline: none;
    border-radius: 0.45rem 0 0 0.45rem;
}

.search-icon {
    width: 50px;
    color: #fff;
    background-color: rgb(48, 181, 48);
    padding: 0.75rem 1rem;
    border: 0.1rem solid #666;
    border-radius: 0 0.45rem 0.45rem 0;
    cursor: pointer;
    border-left: none;
    outline: none;
}

.sort-by-price {
    font-weight: bold;
    background-color: #ffe2b3;
    margin-left: 10px;
    padding: 0 14px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 1px 1px 1px 1px #888;
    cursor: pointer;
}

.sort-by-price:hover {
    background-color: #ffca75;
    transition: 0.2s ease-in-out;
}

/* Shimmer UI Styles */
.shimmer-card {
    width: 200px;
    height: 135px;
    border-radius: 1rem;
    background-color: #f0f0f0;
}

/* Restaurants Container Styles */
.restaurants-container, .shimmer-cards-container {
    width: 90%;
    max-width: 1080px;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1.75rem 1.3rem;
    flex-wrap: wrap;
}

.restaurant-card {
    cursor: pointer;
    /* color: #000;
    text-decoration: none; */
}

.restaurant-details {
    padding-left: 0.75rem;
}

.restaurant-image {
    height: 135px;
    width: 200px;
    border-radius: 1rem;
}

.restaurant-name {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.25rem;
}

.rating-and-delivery-time {
    font-weight: bold;
    padding-top: 0.125rem;
    display: flex;
    gap: 0.5rem;
}

.rating-and-delivery-time i {
    margin-top: 0.168rem;
}

.cuisines, .restaurant-area {
    font-size: small;
    font-weight: 200;
    color: rgba(2, 6, 12, 0.6);
    margin-top: 3px;
}

.restaurant-name, .cuisines, .restaurant-area {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.restaurant-area {
    margin-top: 0px;
}